<div class='back_main_color'></div>

<div class='user'>

  <div class='back_head'>
    <%= link_to image_tag("fitskin_logo.png", class:"fitskin_logo"), "/" %>
    <div class='user_title'>新規登録</div>
  </div>

  <div class='back_main'>
    <div class='user_form'>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <label class="user_label">ユーザーネーム</label><span class="mandatory">必須</span><br />
          <%= f.text_area :nickname, class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">メールアドレス</label><span class="mandatory">必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">パスワード</label>
          <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %> 文字以上)</span>
          <% end %>
          <span class="mandatory">必須</span><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">パスワード</label><span>（確認用）</span><span class="mandatory">必須</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">自己紹介</label><br />
          <%= f.text_area :word, class:"input-word" %>
        </div>

        <div class="actions">
          <%= f.submit "登 録", class:"submit" %>
        </div>
      <% end %>

    </div>
  </div>

</div>