<div class='header'>
  <div>
    <%= link_to image_tag("fitskin_logo.png", class:"fitskin_logo"), "/" %>
  </div>
  <div class='user_title'>アカウント編集</div>
</div>
<div class='back_main_color'></div>

<div class='hero'>
  <div class='back_main'>

    <div class='user_form'>
      <%= form_with model: current_user, local: true do |f|%>
        <%= render "shared/error_messages", model: f.object %>
        
        <label class="user_label">プロフィール画像</label>
        <div class='profile_form'>
          <div class='profile_image'>
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.profile_image, class: "preview-image", id: "user_previews" %> 
             <% else %>
              <%= image_tag "user_hoso.svg", class: "preview-image", id: "user_previews" %> 
            <% end %>
          </div>
          <div class="click-upload">
            <%= f.file_field :profile_image %>
          </div>
        </div>

         <div class="field">
          <label class="user_label">ユーザーネーム</label><span class="mandatory">必須</span><br />
          <%= f.text_area :nickname, class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">メールアドレス</label><span class="mandatory">必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">肌質</label><span class="mandatory">必須</span><br />
          <%= f.collection_select(:usage_id, Usage.all, :id, :name, {include_blank: "---"}, {class:"input-default"}) %>
        </div>

        <div class="field">
          <label class="user_label">自己紹介</label><br />
          <%= f.text_area :word, class:"input-word" %>
        </div>

        <div class="actions">
          <%= f.submit "編　集", class:"submit" %>
        </div>
      <% end %>

    </div>
  </div>

</div>