<%= render "shared/header" %>

<div class='back_share_color'>
</div>

<div class="hero">
  <div class="back_main">
    <div class="mypage_hero">
      <% if @follows.empty? %>
        <p class="search_title"><%= @user.nickname %>は現在フォローしていません</p>
      <% else %>
        <p class="search_title"><%= @user.nickname %>がフォローしています</p>
        <% @follows.each do |follow| %>
        
          <%= link_to user_path(follow.id) do %>

            <div class="itemtemp_waku">

              <div class="itemtemp_usericon">
                <% if follow.profile_image.attached? %>
                  <%= image_tag follow.profile_image, class: "user_icon" %>
                <% else %>
                  <%= image_tag "user_hoso.svg", class: "user_icon" %>
                <% end %>
              </div>

              <div class="itemtemp_item">
                <p class="itemtemp_salesname">
                  <%= follow.nickname %>
                </p>
                <p class="itemtemp_salesname">
                  <span class="itemtemp_evaluation">
                    <%= follow.usage.name %>
                  </span>
                </p>
              </div>

            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<div>