<%= render "shared/header" %>
<% if @user.id == current_user.id %>
  <div class='back_main_color'></div>
 <% else %>
  <div class='back_share_color'></div>
<% end %>

<div class="hero">
  <div class="back_main">
    <div class="mypage_hero">

      <% if @user.id == current_user.id %>
        <p class="mypage_title">プロフィール</p>
       <% else %>
        <p class="mypage_title_blue">プロフィール</p>
      <% end %>
      <div class="profile_hero">
        <div>
          <div class="profile_image">
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image, class: "preview-image" %> 
            <% else %>
              <%= image_tag "user_hoso.svg", class: "preview-image" %>
            <% end %>
          </div>
          <div class="follow_min">
            <%= @user.follow_count %>
            <%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get, class: "itemtemp_comment" %><br>
            <%= @user.followers_count %>
            <%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get, class: "itemtemp_comment" %>
          </div>
          <% if current_user.id != @user.id %>
            <center><%= render 'follow_form' %></center>
          <% end %>
        </div>

        <div class="profile_text_hero">
          <% if @user.id == current_user.id %>
            <p class="profile_label">ユーザーネーム：<br><font color="black"><%= @user.nickname %></font></p>
            <p class="profile_label">肌質：<br><font color="black"><%= @user.usage.name %></font></p>
            <p class="profile_label">自己紹介：<br><font color="black"><%= @user.word %></font></p>
          <% else %>
            <p class="profile_label_blue">ユーザーネーム：<br><font color="black"><%= @user.nickname %></font></p>
            <p class="profile_label_blue">肌質：<br><font color="black"><%= @user.usage.name %></font></p>
            <p class="profile_label_blue">自己紹介：<br><font color="black"><%= @user.word %></font></p>
          <% end %>
        </div>
      </div>

      <% if current_user.id == @user.id %>
        <div class="mypage_actions"><%= link_to '編　集', edit_user_path(current_user), class: "submit" %></div>
      <% end %>

      <% if @user.id == current_user.id %>
        <p class="profile_border">ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー</p>
        <p class="mypage_title"><%= @user.nickname %><font size="5" >さん</font>の投稿一覧</p>
      <% else %>
        <p class="profile_border_blue">ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー　ー</p>
        <p class="mypage_title_blue"><%= @user.nickname %><font size="5" >さん</font>の投稿一覧</p>
      <% end %>

      <div class="myitems_hero">
        <%= render partial: 'shared/itemsform', collection: @items, as: :item %>
      </div>

    </div>
  </div>
<div>