<%= render "shared/header" %>
<div class='back_main_color'></div>

<div class='user'>

  <div class='back_main'>
    <div class='user_form'>

      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <label class="user_label">プロフィール画像</label>
        <div class='profile_form'>
          <div class='profile_image'>
            <img class="preview-image" src="/assets/user_hoso.svg", id="previews">
          </div>
          <div class="click-upload">
            <%= f.file_field :profile_image %>
          </div>
        </div>

        <div class="field">
          <label class="user_label">カテゴリー</label><span class="mandatory">必須</span><br />
          <%= f.text_area :nickname, class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">販売名</label><span class="mandatory">必須</span><br />
          <%= f.text_area :word, class:"input-default" %>
        </div>

        <div class="field">
          <label class="user_label">購入価格</label><br />
          <%= f.text_area :word, class:"input-default" %>
        </div>

        <div class="actions">
          <%= f.submit "登　録", class:"submit" %>
        </div>
      <% end %>

    </div>
  </div>

</div>