<%= render "shared/header" %>
<% if @item.user.id == current_user.id %>
  <div class='back_main_color'></div>
 <% else %>
  <div class='back_share_color'></div>
<% end %>

<div class='hero'>
  <div class='back_main'>

    <div class="content">
      <% if @item.item_image.attached? %>
        <%= image_tag @item.item_image, class: "photo_image" %>
      <% else %>
        <%= image_tag "photo_icon.png", class: "photo_icon" %>
      <% end %>
    </div>

    <div class='item_show_hero'>

      <div class="item_show_category">
        <%= @item.category.name %>
      </div>

      <div class="item_show_sales">
        <%= @item.sales_name %>
      </div>

      <div class="fitem_show_price">
        <% if @item.price != nil %>
          <%= @item.price.to_s(:delimited) %><font size="-2" >　円</font>
        <% else %>
          ーーー<font size="-2" >　円</font>
        <% end %>
      </div>

      <div class="field">
        <span class="itemtemp_evaluation">
          <%= @item.evaluation.name %>
        </span>
      </div>

      <% if @item.user.id == current_user.id %>
        <div class="comment_field">
      <% else %>
        <div class="comment_field_blue">
      <% end %>
        <div class="comment_field_user">
          <div>
            <% if @item.user.profile_image.attached? %>
              <%= image_tag @item.user.profile_image, class: "user_icon" %>
            <% else %>
              <%= image_tag "user_hoso.svg", class: "user_icon" %>
            <% end %>
          </div>
          <div class="comment_field_usershow">
            <%= @item.user.nickname %>
          </div>
        </div>

        <div class="comment_field_title">
          <%= @item.comment_title %>
        </div>
        <div class="comment_field_detail">
          <%= @item.comment_detail %>
        </div>
      </div>

    </div>

  </div>
</div>

<% if @item.user.id == current_user.id %>
  <footer>
    <div class="item_show_footer">
      <%= link_to "編　集", root_path, class: "item_show_submit" %>
        <span class="item_show_margin"></span>
      <span class="item_show_submit" id="item_show_submit">削　除</span>
    </div>
  </footer>
<% end %>